@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  box-sizing: border-box;
  color-scheme: dark;
  scroll-behavior: smooth;
}

@layer utilities {
  .gradient-02 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;
    background: #162cf1;
    filter: blur(190px);
  }

  .gradient-04 {
    position: absolute;
    width: 200px;
    height: 438px;
    left: 0;
    top: 0;
    background: #162cf1;
    filter: blur(190px);
    transform: rotate(-53.13deg);
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.backdrop-blur-xl {
  backdrop-filter: blur(20px); /* Standard syntax */
  -webkit-backdrop-filter: blur(20px); /* Safari syntax */
}

/* custom.css */
@layer components {
  .list-item-with-bullet {
    @apply relative;
  }

  .list-item-with-bullet::after {
    content: "•";
    @apply absolute right-0 top-1/2 transform -translate-y-1/2 text-white;
  }
}
